extends ../index
block main
	h3 thêm bài viết

	form(action="/posts/add", method="POST")
		label tiều đề
		input(type="text" placeholder="tiều đề", name="title")

		label nội dung
		input(type="text" placeholder="nội dung", name="content")

		button(class="btn btn-primary") tạo bài viết