extends ../index
block main
	div(class="container mt-4")
		div(class='row')
			h4 Danh sách bài viết	
			div(class="col col-lg-12")
				a(href="/posts/add" class="btn btn-primary w-25 mt-3 mb-5") Add bài viết
			
			table.table.table-striped
				thead
					tr
						th(scope='col') #
						th(scope='col') Ảnh
						th(scope='col') Tiêu đề
						th(scope='col') Nội dung
						th(scope='col') Thao tác
				tbody
					each post,i in posts
						tr
							th(scope='row') #{i + 1}
							td
								img(src=post.image, width="64", height="64")
							td #{post.title}
							td #{post.content}
							td 
								a(class="btn btn-primary mr-2", href="") Sửa
								button(class="btn btn-danger") Xóa
    
			

