extends ../index
block main
    div(class="container mt-5")
        div(class="row")
            div(class="col col-lg-4")
                h3 chi tiết bài viết
                mark tiêu đề: 
                span #{view.title} 
                hr
                mark nội dung: 
                span #{view.content} 

